.custom-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: 250px; /* Add left margin */
  margin-right: 250px; /* Add right margin */
  @media (max-width: 1100px) {
      margin-left: 20px; /* Adjust left margin for smaller screens */
      margin-right: 20px; /* Adjust right margin for smaller screens */
  }
}

.logo-container {
  display: flex;
  flex-direction: column; /* 요소들을 세로로 정렬합니다 */
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}


.logo {
  max-width: 100%;
  height: auto;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}

.menu-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* 미디어 쿼리를 사용하여 화면 크기에 따라 스타일 조정 */
@media (min-width: 768px) {
  .menu-container {
    justify-content: space-between;
  }

  .menu-item {
    margin: 5px;
  }
}

/* 모바일 뷰일 때 간격을 조절 */
@media (max-width: 767px) {
  .menu-item {
    margin: 10px; /* 모바일 뷰에서 아이템 간격을 더 넓게 설정 */
  }
}


.heendy-say {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.bubble-box {
  background-color: #fff;
  border: 2px solid #29A592;
  padding: 10px;
  width: 100%; /* 말풍선의 너비를 조절 */
  max-width: 300px; /* 말풍선의 최대 너비 */
}

.bubble-text {
  text-align: left;
  margin: 0;
}

.upload-box {
  background-color: #ECF7F5;
  display: flex;
  justify-content: space-between;
  width: 95%;
  padding: 20px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #29A592;
}

.upload-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 50%; /* 왼쪽과 오른쪽 영역을 50%로 분할 */
}

.box-title {
  margin: 0px 0;
}

.image-preview {
  padding: 10px;
  background-color: #fff;
  width: 150px; /* Set the desired width */
  height: 150px; /* Set the desired height */
  margin-top: 10px; /* Adjust margin for spacing */
  border: 1px solid #ccc; /* Add a border for visualization */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Hide overflow if the image is larger */
}

.image-preview img {
  max-width: 100%;
  max-height: 100%;
}

.feed-upload-button {
  margin-top: 20px;
}


