.appContainer {
  width: 100%;
  height: auto;
  position: relative;


}

.contentsContainer {
  margin-top: 1rem;
  margin-left: 15vw;
  margin-right: 15vw;
  height: 100%;

  @media (max-width: 1100px) {
    margin: 0;
  }
}

.floating {
  width: 200px;
  height: 400px;

  margin-top: 10%;
  margin-right: 2%;

  cursor: pointer;

  position: fixed;
  right: 0;
  top: 0;

  @media (max-width: 1100px) {
    display: none;
  }
}

.floatingImgCard {
  width: 200px;
  height: 200px;
  margin: 0;

  /* border: 1px solid black; */
  border-radius: 20px;

  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.floatingImg {
  width: 220px;
  object-fit: cover;
}

.floatingText{
  font-size: 20px;
  font-weight: bold;
}